ebd_US-IL_relJan-2021.txt
ebd_US-IL-031_202001_202012_relJan-2021.txt
ebd_US-IL-031_relJan-2021.txt
custom_tables
all_species_frequency_all_years_7f3d_robin.csv
all_species_frequency_all_years_7f5d.csv
all_species_frequency_all_years_ny.csv
all_species_frequency_all_years_nw.csv
all_species_frequency_all_years.csv
all_species_frequency_all_years.csv
Common Redpoll_frequency__all_years.csv
Common Redpoll_frequency_all_years.csv
cred_f_test.csv
cred_frequency__all_years.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
cred_frequency_2001.csv
csv_files